name: subscriptions_tracker
description: Subscriptions Tracker made with Flutter.

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.0

  # Auth plugins
  firebase_auth: ^0.5.10
  google_sign_in: ^3.0.3+1

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies, 
  # see https://flutter.io/custom-fonts/#from-packages

  fonts:
    - family: VarelaRound
      fonts:
      - asset: assets/fonts/VarelaRound/VarelaRound-Regular.ttf
    - family: ProductSans
      fonts:
      - asset: assets/fonts/ProductSans/ProductSans-Regular.ttf
      - asset: assets/fonts/ProductSans/ProductSans-Italic.ttf
        style: italic
      - asset: assets/fonts/ProductSans/ProductSans-Bold.ttf
        weight: 700
      - asset: assets/fonts/ProductSans/ProductSans-Bold-Italic.ttf
        weight: 700
        style: italic
    - family: FontAwesomeRegular
      fonts:
        - asset: assets/fonts/FontAwesome/fa-regular-400.ttf
          weight: 400
    - family: FontAwesomeSolid
      fonts:
        - asset: assets/fonts/FontAwesome/fa-solid-900.ttf
          weight: 900
    - family: FontAwesomeLight
      fonts:
        - asset: assets/fonts/FontAwesome/fa-light-300.ttf
          weight: 300
    - family: FontAwesomeBrands
      fonts:
        - asset: assets/fonts/FontAwesome/fa-brands-400.ttf
          weight: 400